.coveo-suggestion-icon,.coveo-suggestion-location-icon {
  text-align: center;
  font-size: 30px;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-top: 4px;
  display: inline-block;
  
}
.coveo-suggestion-place {
  text-align: left;
  font-size: 14px;
  display: inline-block;
  
  
}